/* -------taskbar-------------------------------------------------------------------------------------------------------- */
.taskbar {
    background-color: #2e2e2e; /* Etwas helleres Dunkelgrau */
    color: #d1d1d1; /* Helles Grau für besseren Kontrast */
    height: 40px; /* Zurück zur ursprünglichen Höhe */
    position: fixed; /* Fixiert am unteren Rand des Bildschirms */
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px; /* Angepasstes Padding für ein kompakteres Layout */
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2); /* Sanfter Schatten für Tiefe */
    z-index: 1000; /* Taskbar immer oben */
    border-top: 1px solid #444; /* Dünne obere Border für Struktur */
}
.taskbar button {
    background: transparent;
    color: #d1d1d1;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, transform 0.2s;
}
.taskbar button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: #d1d1d1;
    transition: width 0.3s, left 0.3s;
}
.taskbar button:hover {
    color: #ff4d4d;
    background-color: rgba(255, 77, 77, 0.1);
}

.taskbar button:hover::after {
    width: 100%;
    left: 0;
}

.taskbar button:active {
    transform: scale(0.95);
    color: #ff00ff; 
}