       .context-menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
       .context-menu ul li {
            padding: 5px 10px;
            cursor: pointer;
        }
       .context-menu ul li:hover {
            background-color: #ddd;
        }